.contact-container{
    display:flex;
    justify-content: center;
    width:100%;
    flex-direction: column;
    align-items: center;
form{
    display:inherit;
    flex-direction: inherit;
    align-items: center;
    width:100%;

    input, textarea{
        margin:10px auto;
        border-radius:5px;
        width:100%;
        font-size:1.5rem;
        padding:10px;
        border:none;
        background-color:@nav-bg;
    }
}
}

.btn {
    .styled-btn(5px; @btn-bg-color; fit-content; #fff;);
    .btn-font(10px; 25px;);
    font-size: 1.5rem;
    @media (max-width: @mobile) {
      .styled-btn(5px; @btn-bg-color; 100%; #fff;);
      .btn-font(25px; 25px;);
      text-align: center;
    }
  }
